<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Profile</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <div class="profile-container">
        <header class="header">
            <img src="{% static 'images/logo.jpg' %}" alt="Company Logo" class="company-logo">
         
            <h1 class="candidate-name">Mr. Jittabun Saggayok</h1>
        </header>
        

        <section class="profile-image">
            <img src="{% static 'images/can.png' %}" alt="Candidate Image" class="candidate-photo">
        </section>
        <br><br>
        <section class="career-summary">
            <h2>CAREER SUMMARY</h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Driven by a passion for technology, Khun Jittabun made a strategic shift from engineering to the IT field. He is now working as a Mobile Developer at Grammick House for over a year. He is very skillful, youngblood, proactive, energetic and friendly. Khun Jittabun is reporting directly to a Thai IT Manager and working closely with 3 team members. He is able to communicate in English very well with TOEIC score 745 certified.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Currently, he is pursuing a master’s degree in web engineering and mobile application development while also engaging in self-study through various online platforms. With a strong interest in mobile development and system analysis, he is eager to contribute innovative solutions and advance his career in these dynamic fields.
            </p>
        </section>
        <br>


        <section class="personal-info">
            <h2>PERSONAL INFORMATION</h2>
            <ul>
                <p>Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   24 year old <span class="note">* No need to mention Date of Birth</span></li>
                <p>Gender &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Male </li>
                <p>Nationality &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thai </li>
                <p>Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Single </li>
            </ul>
        </section>
        <br>
        <section class="education">
            <h2>EDUCATION</h2>
            <br>
                <p>2022 – Present: Master Degree of Science Program in Web Engineering and Mobile Application</p><br>
                <p>Development, Dhurakij Pundit University (current GPA 3.92)</p><br>
                <p>2017 – 2021: Bachelor Degree of Civil Engineering, King Mongkut’s University of Technology Thonburi</p><br>
                <p>(Second-Class Honors with GPA 3.30)</p><br><br>
            <p class="note">* Able to use <strong>Bachelor’s Degree</strong> in instead</p>
            <br><br>
        </section>

       <div class="add">
            <h2>ADDITIONAL INFORMATION</h2>   
         
            <p id="ai1"><strong>Programming Skills:</strong></p>
            <p id="ai2"> Dart (Flutter), JavaScript, HTML & CSS, SQL, Swift, Kotlin, Python</p>
            <p id="ai1"><strong>Frames & Librariesnbsp:</strong></p>
            <p id="ai2">Flutter, React.js, ExpressJS, Websocket, Tensorflow, Mediapipe, Firebase</p>
            <p id="ai1"><strong>Database:</strong></p>
            <p id="ai2">MySQL, PostgreSQL, MongoDB</p>
            <p id="ai1"><strong>Tools & Technologies:</strong></p>   
            <p id="ai2">GitHub, GitLab, Postman, VSCode, Android Studio, Microsoft Teams, Jira, Trello, ClickUp, Notion, Figma, Dbdiagram.io</p>         
            <p id="ai1"><strong>AI:</strong></p>
            <p id="ai2">ChatGPT, Gemini, Claude, Midjourney</p>
            <p id="ai1"><strong>English Skills:</strong></p>
            <p id="ai2">Good (TOEIC Score 745)</p>
            <p id="ai1"><strong>Certifications:</strong></p>
            <p id="ai2">Licensed for Professional Practice, Golang (KBTG Bootcamp)</p>

            <br><br><br><br><br>
        </div>
        <footer class="main-footer">
            <p><strong>Asian Technology Solutions Ltd.,</strong></p>
            <p>
                Unit 75/60, 27th Floor, Ocean Tower II, Soi Sukhumvit 19, Sukhumvit Road,<br>
                Klong toey Nua, Wattana, Bangkok – 10110 Thailand,
            </p>
            <p>
                Email: <a href="mailto:contact@asian-technology.com">contact@asian-technology.com</a>, 
                <a href="https://www.asian-technology.com" target="_blank">www.asian-technology.com</a>
            </p>
        </footer>
            
    </div>
    <div class="Secondpage">
        <div class="header">
            <img src="{% static 'images/logo.jpg' %}" alt="Company Logo" class="company-logo">
        </div>
        <br><br>
        <h2>Additional Skills:</h2>
            <ul class="skills-list">
                <li>System Analysis and Design: UML Modelling</li>
                <li>Software Requirement: TOR</li>
                <li>Software Process / Software Lifecycle / MVP Concept</li>
                <li>Project Management: Agile / Scrum / Kanban / PBI</li>
                <li>UX/UI Design</li>
                <li>Database Design</li>
            </ul>
        
        

        <br><br>
        
        <div class="work">
        <h2>WORK EXPERIENCES</h2>
        <br>
        
            <p><strong>Company:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grammick House Co., Ltd.</strong> <span class="note">(you can use “Company Limited” as well)</span></p><br>
            <p><strong>Position:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mobile Developer (Flutter) </strong> <span class="note">(use “Position” instead of “Role”) Capital the position name</span></p><br>
            <p><strong>Period:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; July 2023 – Present </strong><span class="note">(use “Present” instead of “Current”)</span></p><br>
        
            <p><strong>Responsibilities:</strong></p><br>
            <p><strong>MCIC (B2B E-commerce Application - Hair Product)</strong></p><br>
            <p><strong>Created UI and API integration on the following functions:</strong></p>
            <ul>
                <li>Handled membership registration, log-in, and important document uploads. Managed profile information, including saving and editing addresses.</li>
                <li>Implemented phone OTP authentication working with API.</li>
                <li>Displayed product list and product detail by category, new arrivals, best sellers, recommended items, related products, and showcased product catalogues. Enabled searches using filters like category, colour, and brand.</li>
                <li>Managed shopping cart, product promotions, including discounts and giveaways, booking (PO documents) and delivery orders and tracked order status.</li>
                <li>Managed payment section for invoices, CN, DN integrated with KBank, Credit card, Cheque, slip transfer, and issued receipts. Monitored payment statuses including paid, rejected, and completed (limited time countdowns to pay).</li>
                <li>Worked with Firebase FCM for notifications.</li>
                <li>Coordinated sales trips and customer appointments using Google Maps for check-ins within a km radius </li>
                <li>Handled Credit points usage,request credit,and reward point redemption</li>
                <li>Managed inventory,including stock alerts for low inventory</li>
                <li>Oversaw both customer and sales sections,allowing sales representatives to manage multiole customers,process orders,cancel orders and bookings,track deliveries, and make payments on behalf of customers.</li>
            </ul>
            <br><br><br><br><br>
        </div>
            <footer class="main-footer">
                <p><strong>Asian Technology Solutions Ltd.,</strong></p>
                <p>
                    Unit 75/60, 27th Floor, Ocean Tower II, Soi Sukhumvit 19, Sukhumvit Road,<br>
                    Klong toey Nua, Wattana, Bangkok – 10110 Thailand,
                </p>
                <p>
                    Email: <a href="mailto:contact@asian-technology.com">contact@asian-technology.com</a>, 
                    <a href="https://www.asian-technology.com" target="_blank">www.asian-technology.com</a>
                </p>
            </footer>
    </div>
    <div class="thirdpage">
        <header class="header">
            <img src="{% static 'images/logo.jpg' %}" alt="Company Logo" class="company-logo">
        </header>
        <br><br>
        <main>
          <h3>Welink: Super Application (e-commerce, delivery, human resource, and booking hotel & restaurant)</h3>
          
            <h3>Welink Application</h3>
            <ul>
              <li>Made QR code scanner to add staff members of a restaurant.Redeemed points to cash working with API.</li>
              <li>Checked-in and checked-out staff or groups of staff working with API.</li>
            </ul>

            <h3>Welink Partner Application</h3>
            <ul>
              <li>Booking calendar (set clock in and clock out), custom calendar package working with API.Generated QR code to add members to staff groups</li>
            </ul>
            <br><br>
          <section class="reason">
            <h3><b>Reason of Leaving:</b>&nbsp;&nbsp;He is looking for career advancement and is willing to work at a more stable company.</h3><br>
          </section>
        </main>
        <div class="one">
            <p><strong>Company: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CH.Karnchang PCL.</strong> <span class="note">(you can use “Public Company Limited” as well)</span></p><br>
            <p><strong>Position: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Civil Engineer,CH </strong></p><br>
            <p><strong>Period: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;November 2021 – June 2023 </strong></p><br>
            <p><strong>Responsibilities:</strong></p>
            <ul>
                <li>Specializing in highway bridge,railway,MRT,and building projects for government auctions,my Responsibilities include preparing detailed cost estimates,conducting quantity take-offs,and analysing project specifications to ensure accurate budget forecasts. I collaborate with architects,contractors,and government agencies to review project plans,assess material and labour costs,and develop competitive bids.My role also involves monitoring project expenditures,identifying cost-saving oppurtunities,and ensuring compliance with regulatory requirements,thereby contributing to the successful execution and financial efficiency of public infrastructure projects. </li>
                
            </ul>
        </div>
                <main class="self">
                  <h2>SELF PROJECT</h2>
            
                  <section class="project">
                    <h3>Master's degree final project: MixNMatch Application & Backoffice Website</h3>
                    <p><strong>(Flutter, ReactJS, ExpressJS, SQL, Docker)</strong></p>
                    <ul>
                      <li>Entertaining App (Booking restaurant/bar, matching features like a Tinder app and more entertaining features).</li>
                    </ul>
                  </section>
                </main>
                  <section class="project">
                    <h3>Ballondor Candidate Player Classification Application (Kotlin, TensorFlow)</h3>
                    <ul>
                      <li>
                        Mobile Machine Learning App Realtime Camera Classification Application (Trained Model for all Ballondor Candidate Player from Google Colab to TFLiteModel and added to Android Studio).
                      </li>
                    </ul>
                  </section>
            
                  <section class="project">
                    <h3>Requirement Specification of Project Second Hand Cars E-Commerce Website</h3>
                    <ul>
                      <li>System Requirement / Software Requirement / UML diagram.</li>
                    </ul>
                  </section>
                </main>
                <br><br><br><br><br>
            
                <footer class="main-footer">
                    <p><strong>Asian Technology Solutions Ltd.,</strong></p>
                    <p>
                        Unit 75/60, 27th Floor, Ocean Tower II, Soi Sukhumvit 19, Sukhumvit Road,<br>
                        Klong toey Nua, Wattana, Bangkok – 10110 Thailand,
                    </p>
                    <p>
                        Email: <a href="mailto:contact@asian-technology.com">contact@asian-technology.com</a>, 
                        <a href="https://www.asian-technology.com" target="_blank">www.asian-technology.com</a>
                    </p>
                </footer>
    </div>
    <div class="fourthpage">
        <header class="header">
            <img src="{% static 'images/logo.jpg' %}" alt="Company Logo" class="company-logo">
        </header>
        <br>       
            <main>
                <section class="project">
                    <h3>iOS Project (Application that helps you to build the best home)</h3>
                    <ul>
                      <li>SwiftUI, CoreData, MapKit, AVKit</li><br>
                    </ul>
                </section>
                
                <section class="project">
                    <h3>Master Plan Application</h3>
                    <p>(Flutter)</p>
                    <ul>
                        <li>MVC concept (Separate layer: Models/Controller/Services/Repository/Provider)</li>
                        <li>State Management (GetX, Riverpod)</li>
                    </ul>
                </section>
            </main>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>

            <br><br><br><br><br><br><br><br><br><br>

        <footer class="main-footer">
            <p><strong>Asian Technology Solutions Ltd.,</strong></p>
            <p>
                Unit 75/60, 27th Floor, Ocean Tower II, Soi Sukhumvit 19, Sukhumvit Road,<br>
                Klong toey Nua, Wattana, Bangkok – 10110 Thailand,
            </p>
            <p>
                Email: <a href="mailto:contact@asian-technology.com">contact@asian-technology.com</a>, 
                <a href="https://www.asian-technology.com" target="_blank">www.asian-technology.com</a>
            </p>
        </footer>
    </div>
    
</body>
</html>
